<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <variable name="CHATTYER_LOG_LEVEL" value="${CHATTYER_LOG_LEVEL:-INFO}" />
    <logger name="chattyer" level="${CHATTYER_LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>